.dialog__overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
}

.dialog__container {
  margin: auto;
  width: 350px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ddd;
  border-radius: 10px;
}

.dialog__textarea {
  margin: 20px;
  padding: 10px;
  width: 80%;
  height: 70%;
}

.dialog__footer {
  margin: 20px;
  display: flex;
  flex-direction: row;
}
